.contact_info {
  color: white;
  font-size: 30px;
  margin: 0 auto;
  background: linear-gradient(grey, black);
  width: 500px;
  text-align: center;
  padding: 20px;
  border-style: double;
}

.contact_info a {
  color: white;
  text-decoration: none;
}

.contact_info a:hover {
  color: grey;
}
