.container_element {
  color: white;
  font-size: 40px;
  margin: 0 auto;
  background: linear-gradient(grey, black);
  width: 300px;
text-align: center;
  padding: 20px;
  border-style: double;
}

.container_element a {
  color: white;
  text-decoration: none;
}

.container_element a:hover {
  color: grey;
}
