html {
  overflow-y: scroll;  
}

#top_menu {
    color: white;
    margin: 0 auto;
    margin-top: -20px;
    height: 178px;
}

#top_menu h1 {
    font-size: 50px;
}

.table {
    display: table;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: #113;
}

body {
    background: grey;
    color: white;
}

h1 {
    text-align: center;
}

#selected {
  background: #115;
}
