.port_container {
  padding-left: 100px;
}

.portfolio {
  color: white;
  text-align: center;
  background: linear-gradient(grey, black);
  width: 350px;
  height: 350px;
  float: left;
  border-style: double;
}

.portfolio h1 {
  font-size: 150%;
}
.portfolio a {
  color: white;
}

.portfolio a:hover {
  color: grey;
}
