#top_menu {
    color: white;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -20px;
    height: 178px;
}

#top_menu h1 {
    font-size: 50px;
    font-family: sans-serif;
}

.table {
    display: table;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: inline;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
}

li a:hover {
    background-color: #111;
}



body {
    background-image: url("background_image.png");
    color: white;
}

h1 {
    text-align: center;
}

.about {
    width: 800px;
    font-size: 20px;
    margin: 0 auto;
}

#project_title {
    font-size: 70px;
    margin-top: -5px;
    font-family: serif;
}


.projects {
    font-size: 25px;
    width: 1000px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
}

.projects h3 {
    font-size: 50px;
}

.projects .tetris img {
    width: 400px;
    height: auto;
}

.projects .steering img {
    width: 700px;
    height: auto;
}

.projects .chess img {
    width: 500px; 
    height: auto;
}

.projects a {
    text-decoration: none;
    color: red;
}

.projects a:hover {
    color: darkred;
    text-decoration: underline;
}

.downloads {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

.downloads a {
    color: red;
}

.downloads a:hover {
    color: darkred;
    text-decoration: underline;
}

.contact_info {
    text-align: center;
    font-size: 30px;
}

.contact_info a {
    color: red;
}

.contact_info a:hover {
    color: darkred;
    text-decoration: underline;
}